.info {
  position: relative;
  font-size: 18px;

  &--map, &--tel {
    padding-left: 35px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-repeat: no-repeat;
    }
  }

  &--map::before {
    background-image: url('./../img/header/map.svg');
  }

  &--tel::before {
    background-image: url('./../img/header/phone.svg');
  }
}
